* {
  box-sizing: border-box;
  margin:0;  
  font-family: Inter, sans-serif;

}

body {
  padding: 0;
  margin: 0;
  background: rgb(173, 180, 131);
 /*  background: linear-gradient(90deg, rgba(197,185,18,1) 0%, rgba(253,252,179,1) 100%);  */
  /* background:
    radial-gradient(
      circle at top left, 
      #c5b912,
      #fdfcb3
    ); */  
}

/********* intro page  *********/
.intro-title {
  cursor: pointer;
  padding: 12px;
  display: flex;  
  justify-content: center;
  text-align: center;
  font-size: 6vw;
  font-weight: 800;
}
.intro-title:hover {  
  text-decoration: underline dotted 1px;
}
.intro-content {
  display: flex;
  justify-content: center;
}
.intro-logo {
  cursor: pointer;
  width: 24vw;
  min-width: 140px;
}


.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.main {  
  display: flex;
  
}
.g1 {
  width: 100%;
  min-height: calc(100vh - 24px);
  background: rgb(173, 180, 131);
}

/********** footer *********/
.footer {
  display: flex;
  padding: 4px;
  justify-content: center;
  font-size: 11px;
  border-top: 2px solid #fff;
  height: 24px;
  background: rgb(207, 206, 112);

}
/********** header *********/
.header {
  display: grid;
  grid-template-columns: 30px 108px 1fr 66px;
  align-items: center;
  background: rgb(207, 206, 112);
 
}
.header-buttons-wrapper-row {
  display: inline-flex;
  justify-content: flex-start;  
  align-content: center;
  gap: 4px;
  margin: 0px;
  padding: 0px;
}
.header-buttons-wrapper-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 3px;
}

.logo {
  height: 40px;  
  cursor: pointer;
  padding-left: 6px; 
  
}
.header-title {
  display: flex;
  font-size: clamp(14px, 2vw ,40px);
  font-weight: 800;
  margin-left: 12px;
  margin-right: 12px;
  
  justify-content: center;  
  text-shadow: 
    0px 0px 3px rgba(253, 243, 185, 1),
    2px 2px 6px rgba(0, 0, 0, 0.6)
    ;
}
.header-email {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  padding: 0px;
  margin:0;
  
}
.header-user {
  padding: 0px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  padding: 0px;
  margin:0;

}
.header-hello {
  font-size: 9px;
}
.header-email, .header-user, .header-menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 36px;
  height: 36px;
  text-shadow: 
    0px 0px 1px rgba(253, 243, 185, 1),
    0px 0px 2px rgba(253, 243, 185, 1),
    0px 0px 3px rgba(253, 243, 185, 1),
    2px 2px 4px rgba(0, 0, 0, 0.66)
  ;

}

.header-email:hover, .header-user:hover, .header-menu-toggle:hover  {

  border: 1px dotted #000;
  border-radius: 6px;
}
.header-menu-toggle {
  padding-left: 0px;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  
}

/********** menu *********/
.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4px;
  font-size: 18px;
  border-right: 2px solid #fff;
  background: rgb(207, 206, 112);

}
.selected {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 6px;
}
.menu p, .menu li {
  color: rgba(253, 243, 185, 0.9);
  cursor: pointer;
  /* overflow: hidden; */
  padding: 2px 4px 2px 4px;
  margin-bottom: 3px;
  text-shadow: 
    0px 0px 4px rgba(0, 0, 0, 0.9),
    0px 0px 1px rgba(0, 0, 0, 1),
    0px 0px 2px rgba(0, 0, 0, 1),
    3px 3px 8px rgba(0, 0, 0, 1)
    ;
}
.menu p:hover, .menu li:hover {
  border: 1px dotted #000;
  border-radius: 6px;
}
.menu ul {
  list-style-type: "⯈";
  margin-block: 6px;
}

/********** content *********/
.content {   
  
  border-top: 2px solid #fff;
  padding-bottom: 12px;
  padding: 0px 12px 12px 12px;
  
}

.content-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 6px;
  display: flex;  
  padding: 12px 12px 8px 22px;
  
}
.content-title span {
  border-bottom: 1px solid #000;
  padding: 0px 4px 0px 4px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/********** cart notification *********/
.content-cart {
  margin-top: 1px;
  display: block;
  /* position:absolute; */  
  float: right;
  width: auto;
  margin-right: -12px;
  font-size: 14px;
  font-weight: 200;
  
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  color:rgba(253, 243, 185, 0.9);

  border-bottom-left-radius: 6px;
  box-shadow: 
    -2px 4px 12px 0px rgba(0, 0, 0, 0.9)   
    ;
    
}
.content-cart-footer {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}
.content-cart-char {
  font-size: 28px;
}
.btn {
  height: 26px;
  cursor: pointer;
  background: #c5b912;
  
  padding: 0px 8px 0px 8px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 
    0px 0px 6px 1px rgba(253, 243, 185, 1)
  ;
  white-space: nowrap;
  
}
.btn:hover {
  border: 1px dotted #000;
}
.btn:active {
  border: 2px solid #000;
}
.input {
  /* margin-right: 12px; */
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 
    0px 0px 6px 1px rgba(253, 243, 185, 1)
  ;
  background: rgba(253, 243, 185, 1);
  font-size: 12px;
  font-weight: 600;
}
.input:hover {
  border: 1px dotted #000;
}
.content-cart-numberofitems {
  font-weight: 600;  
  letter-spacing: 1px;
}
.content-cart-total {
  font-weight: 600;
  letter-spacing: 1px;
  
}
.link {
  cursor: pointer;  
}
.link:hover {
  border: 1px dotted #000;
  border-radius: 6px;
}
/********** products *********/
.products {
  /* padding: 0px 12px 0px 12px; */
}
.product-item-thumb {
  width: 80px;
  height: 80px;
  border: 3px solid #000;
  border-radius: 6px;
  cursor: pointer;
  background-size:  cover;
}
.product-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border-bottom: 2px solid #f5f0b3; */
  border-bottom: 1px solid #000;
  padding-block: 12px;
  
}
.product-item-title {
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-item-title:hover {
  text-decoration-line: underline;
  text-decoration-style: dotted; 
  text-decoration-thickness: 1px;
}
.product-item-price {

  font-size: 21px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0px 4px 0px 0px;
}
.product-item-stock {
  font-size: 11px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 2px;
  margin-right: 6px;
  height: 20px;
  color: #2e502e;
}
.product-item-info-wrapper {  
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}
/********** Product *********/
.product-image {
  
  max-height: 60vh;
  max-width: 100%;
  border: 3px solid #000;
  border-radius: 6px;
}

.product p {
  margin-block: 8px;
}

.product-close {
  padding-bottom: 4px;  
}
.product-quantity {
  height: 26px;
  width: 60px;
  /* margin-right: 12px; */
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 
    0px 0px 6px 1px rgba(253, 243, 185, 1)
  ;
  background: rgba(253, 243, 185, 1);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.product-quantity { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
.product-quantity::-webkit-inner-spin-button,
.product-quantity::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.quantity-spinner:hover, .product-quantity:hover, .add:hover {
  border: 1px dotted #000;
}
.quantity-spinner {
  font-size: 33px;
  font-weight: 600;
  height: 26px;
  width: 26px;
  padding-bottom: 4px;
}
.add {
  font-size: 22px;
  font-weight: 400;
  height: 18px;
  width: 18px;
  padding-bottom: 4px;
}
.indent-left {
  margin-left: 20px;
}
.quantity-spinner, .add {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  background: #c5b912;    
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 
    0px 0px 6px 1px rgba(253, 243, 185, 1)
  ;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
.quantity-wrapper {
  display: inline-flex;  
}

.quantity-wrapper button {
  margin-left: 16px;
}

/********** Login *********/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-wrapper, .signup-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
}
.signup-wrapper {
  padding-top: 12px;
}
.login-wrapper {
  padding-bottom: 12px;
}
/***** user info page ********/
.userinfo span, .user-settings span  {
  font-weight: 800;
}
.userinfo p {
  padding-block: 4px;
}

.user-admin {
  color:rgba(139, 9, 9, 1);;
  font-size: 0.7rem;
}
/************ Orders history ************/
.orders_wrapper {
  display: table;
}
.orders_table  {
  border: 1px solid  rgba(253, 243, 185, 1);
}
.orders_table td {
 /*  border: 1px solid #FFF; */
  text-align: center;
  padding: 2px 9px 2px 9px;
  
}
.orders_table thead {
  background: rgb(58, 56, 45, 0.3);
  color: rgb(247, 247, 247, 0.8);
}
.orders_table, .orders_table th, .orders_table td {
  border: 1px solid rgba(253, 243, 185, 1);
}
.orders_table {  
  border-collapse: collapse;
}
.orders_table tbody, .orders_table tfoot {
  font-size: 14px;
  color: rgb(58, 56, 45, 1);
}

/****** User settings page *********/
.settings-inputs {
  display: inline-flex;
  flex-direction: column; 
  gap: 6px;
  
}
.txt-red {
  color: rgb(139, 9, 9);
}
.txt-green {
  color: rgb(18, 99, 42);
}
.usersettings-block {
  border-bottom: 1px solid #000;
  margin-bottom: 12px;
  padding-bottom: 12px;
  
}
.user-settings {
  margin-top: 12px;
}
.user-settings p {
    padding-top: 6px;
}
.user-settings-title {
  font-size: 1rem;
  font-weight: 800;
}

.theme-form label {
  margin-right: 8px;
  font-weight: 400;
  font-size: 0.9rem;
}
.user-settings-username {
  border: 1px solid #000;
  border-radius: 6px; 
  padding: 0px 3px 0px 3px;
}

/******** Cart page ********/

.cart {
  display: inline-flex;
  flex-direction: column;
  padding-top: 16px;
}

.cart-footer {
  display: flex;
  padding-top: 16px;
  justify-content: end;
}
.cart-message {
  color:rgba(139, 9, 9, 1);
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 12px;
}
/***** Editor *****/
.editor-txt {
  margin-top: 12px;
}
.editor-txt input, .editor-txt textarea, .editor-txt select {
  display: flex;
  flex-direction: column;
  margin-block: 8px;
}
.editor-content {
  width: clamp(240px, 60vw, 800px);
  height: auto;
  min-height: 200px;
}
.editor-txt-buttons {
  padding-top: 20px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
input.product-title {
  width: clamp(240px, 60vw, 800px);
}
.editor-imguploader-wrapper {
  background: rgb(18, 99, 42);
  display: flex;
}
.editor-img-uploader {
  border: 1px dashed rgb(54, 52, 52);
  height: 100px;
}
.upload-image-box {
  background: rgb(139, 9, 9);
}