* {
  box-sizing: border-box;
  margin:0;  
  font-family: Inter, sans-serif;

}

body {
  padding: 0;
  margin: 0;
  background: rgb(173, 180, 131);
 /*  background: linear-gradient(90deg, rgba(197,185,18,1) 0%, rgba(253,252,179,1) 100%);  */
  /* background:
    radial-gradient(
      circle at top left, 
      #c5b912,
      #fdfcb3
    ); */  
}


.intro-title {
  cursor: pointer;
  padding: 12px;
  display: flex;  
  justify-content: center;
}
.intro-title:hover {
  
  text-decoration: underline dotted 1px;
}
.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.main {  
  display: flex;
  
}
.g1 {
  width: 100%;
  min-height: calc(100vh - 24px);
  background: rgb(173, 180, 131);
}

/********** footer *********/
.footer {
  display: flex;
  padding: 4px;
  justify-content: center;
  font-size: 11px;
  border-top: 2px solid #fff;
  height: 24px;
  background: rgb(207, 206, 112);

}
/********** header *********/
.header {
  display: grid;
  grid-template-columns: 30px 108px 1fr 33px 33px;
  align-items: center;
  background: rgb(207, 206, 112);
 
}
.logo {
  height: 40px;  
  cursor: pointer;
  padding-left: 6px; 
  
}
.header-title {
  display: flex;
  font-size: 4vw;
  font-weight: 800;
  margin-left: 12px;
  margin-right: 12px;
  
  justify-content: center;  
  text-shadow: 
    0px 0px 3px rgba(253, 243, 185, 1),
    2px 2px 6px rgba(0, 0, 0, 0.6)
    ;
}
.header-email {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  padding: 0px;
  margin:0;
  
}
.header-user {
  padding: 0px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;

}
.header-email, .header-user, .header-menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 36px;
  text-shadow: 
    0px 0px 1px rgba(253, 243, 185, 1),
    0px 0px 2px rgba(253, 243, 185, 1),
    0px 0px 3px rgba(253, 243, 185, 1),
    2px 2px 4px rgba(0, 0, 0, 0.66)
  ;

}
.header-email:hover, .header-user:hover {

  border: 1px dotted #000;
  border-radius: 6px;
}
.header-menu-toggle {
  
  
  padding-left: 2px;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  
}
.header-menu-toggle:hover {
  border: 2px dotted #000;
}
/********** menu *********/
.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4px;
  font-size: 18px;
  border-right: 2px solid #fff;
  background: rgb(207, 206, 112);

}
.selected {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 6px;
}
.menu p, .menu li {
  color: rgba(253, 243, 185, 0.9);
  cursor: pointer;
  /* overflow: hidden; */
  padding: 2px 4px 2px 4px;
  margin-bottom: 3px;
  text-shadow: 
    0px 0px 4px rgba(0, 0, 0, 0.9),
    0px 0px 1px rgba(0, 0, 0, 1),
    0px 0px 2px rgba(0, 0, 0, 1),
    3px 3px 8px rgba(0, 0, 0, 1)
    ;
}
.menu p:hover, .menu li:hover {
  border: 1px dotted #000;
  border-radius: 6px;
}
.menu ul {
  list-style-type: "⯈";
  margin-block: 6px;
}

/********** content *********/
.content {   
  
  border-top: 2px solid #fff;
  padding-bottom: 12px;
  
}

.content-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  padding-bottom: 6px;
  display: flex;  
  padding: 12px 12px 8px 22px;
}

/********** cart notification *********/
.content-cart {
  margin-top: 2px;
  display: block;
  /* position:absolute; */  
  float: right;
  width: auto;
  font-size: 14px;
  font-weight: 200;
  
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  color:rgba(253, 243, 185, 0.9);

  border-bottom-left-radius: 6px;
  box-shadow: 
    -2px 4px 12px 0px rgba(0, 0, 0, 0.9)   
    ;
    
}
.content-cart-footer {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}
.content-cart-char {
  font-size: 28px;
}
.btn {
  height: 26px;
  cursor: pointer;
  background: #c5b912;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0px 8px 0px 8px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 
    0px 0px 6px 1px rgba(253, 243, 185, 1)
  ;
  white-space: nowrap;
  
}
.btn:hover {
  border: 1px dotted #000;
}
.btn:active {
  border: 2px solid #000;
}
.content-cart-numberofitems {
  font-weight: 600;  
  letter-spacing: 1px;
}
.content-cart-total {
  font-weight: 600;
  letter-spacing: 1px;
  
}
.link {
  cursor: pointer;  
}
.link:hover {
  border: 1px dotted #000;
  border-radius: 6px;
}
/********** products *********/
.products {
  padding: 0px 12px 0px 12px;
}
.product-thumb {
  width: 80px;
  height: 80px;
  border: 3px solid #000;
  border-radius: 6px;
  cursor: pointer;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border-bottom: 2px solid #f5f0b3; */
  border-bottom: 1px solid #000;
  padding-block: 12px;
  
}
.product-title {
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-price {

  font-size: 21px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0px 4px 0px 0px;
  cursor: pointer;
}
.product-stock {
  font-size: 11px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  padding: 2px;
  margin-right: 6px;
  height: 20px;
  color: #2e502e;
}
.product-info-wrapper {  
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}
